#log_col
{
    padding-left: 0px;
    padding-right:0px;
    background-color:#B9D3FF;
}
#log_form
{
    margin-top:6vh;
    margin-left:7vh;
    margin-bottom:1vh;
    width:70%;
    border:1px solid #9FC3FD;
    padding:20px;
    background-color:white
}